 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Full Stack Engineer currently working for Capital One. Previously, I was at Concur (SAP) and Gannett. I love learning new things and working with new technologies</p>
                </div>
                <div class="col-lg-4">
                    <p>I'm a ShawnT Insanity enthusiast but he's killing me!! Trying to get into the habit of working out early in the morning... A bit complicated since i'm a night owl</p>
                </div>
                <!-- div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Resume (Coming soon)
                    </a>
                </div -->
            </div>
        </div>
    </section>