 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div>
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                             {% if post.img != null %}
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                             {% endif %}
                            <ul class="list-inline item-details">
                                <li>Link:
                                    <strong><a target="_blank" href="{{ post.theurl }}">{{ post.sitename }}</a></strong>
                                </li>
                                <li>Category:
                                    <!-- strong><a target="_blank" href="{{ post.categoryurl }}">{{ post.category }}</a></strong -->
                                    <strong class="modal-desc">{{ post.category }}</strong>
                                </li>
                                <li>Date:
                                    <!-- strong><a target="_blank" href="{{ post.projectdateurl }}">{{ post.project-date }}</a></strong -->
                                    <strong class="modal-desc">{{ post.project-date }}</strong>
                                </li>
                                <li>Description:
                                    <strong class="modal-desc">{{ post.description }}</strong>
                                </li>
                            </ul>
                            <div class="modal-post">
                                {% capture myinclude %}{% include posts/posts-{{ post.modal-id }}.md %}{% endcapture %}
                                {{ myinclude | markdownify }}
                            </div>
                            <div class="padding-top">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-id="disqusContainer-portfolioModal-{{ post.modal-id }}"></div>
        </div>
    </div>
{% endfor %}
    <script type="text/javascript">
    (function($){
        var _document = $(document);
        _document.ready(function(){
            _document.on('click.bs.modal.data-api',function(event){
                if(event && event.target && event.target.dataset && event.target.dataset.post && DISQUS){
                    var disqusContainer = $("[data-id='disqusContainer-" + event.target.dataset.post + "']");
                    disqusContainer.append('<div id="disqus_thread"></div>');
                    DISQUS.reset({
                        reload: true,
                        config: function () {  
                            this.page.identifier = event.target.dataset.post;  
                            this.page.url = "http://melxx001.github.com/#!" + event.target.dataset.post;
                        }
                    });
                }

                if(event && event.target && event.target.dataset && event.target.dataset.dismiss){
                    $("#disqus_thread").remove();
                }
            });
        });
    })(jQuery)
    </script>